
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

button {
  margin-top: 10px;
}

.board {
  border-style: solid;
}

.cell {
  height: 30px;
  width: 30px;
  border-style: solid;
  border-width: 2px;
}

.cell-alive {
  background-color: darkgray;
}
